* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #242423;
}

.logo, h1 { 
    margin: 10px;
}

nav ul li {
    display: inline-flex;
    padding-left: 20px;
}

nav ul li a:hover {
    color: #3777FF;
}
